.index
	display flex
	flex-direction column
	position relative

	&__background
		position absolute
		top -155px
		right -410px
		height 560px
		z-index 1
		pointer-events none
		user-select none

	& > *:not(&__background)
		z-index 2

	&__title
		font-size 64px
		color $color-text
		font-weight 900
		line-height 100%
		max-width 820px

		&-highlight
			color $color-highlight

	&__links
		margin-top 50px
		display flex
		justify-content flex-start
		align-items center

	&__link
		flex-center()
		color $color-text
		font-size 18px

		&:not(:first-child)
			margin-left $padding

		& path
			transition fill $transition

		& i
			margin-right 5px

		&:hover path
			fill $color-highlight

	&__games
		display flex
		justify-content flex-start
		align-items center
		margin-top 80px

	&__game
		height 76px

	& .quest
		margin-top 100px
