.layout
	width 100%
	min-height 100
	background-color $color-background-dark
	display flex
	justify-content center
	align-items flex-start

	&__container
		display flex
		flex-direction column
		width 1140px

	&__header
		position relative
		z-index 2
		width 100%
		display flex
		justify-content space-between
		align-items center
		margin-top 35px
		margin-bottom 90px

		&-logo
			transition opacity $transition

			& img
				width 70px
				user-select none

			&:hover
				opacity .7

			&:active
				opacity .5

		&-links
			display flex
			justify-content flex-end
			align-items center

		&-social
			flex-center()
			height 30px
			width 30px
			background-color transparent
			border 1px solid $color-text
			border-radius $border-radius-circle
			transition opacity $transition

			&:not(:last-child)
				margin-right $padding-small

			&:hover
				opacity .6

			& path
				fill $color-text

	&__content
		min-height 800px

	&__footer
		flex-center()
		width 100%
		margin-top 100px
		margin-bottom 50px

		& > *
			font-size 14px
			color $color-text

			&:not(:first-child)
				margin-left $padding

	& a
		text-decoration underline
