.quest
	display flex
	flex-direction column
	border-radius $border-radius
	background-color #171717
	width 465px
	margin-left auto
	margin-right auto

	&__header
		display flex
		justify-content space-between
		align-items center
		padding $padding

	&__title
		font-size 20px
		font-weight 600

	&__progress
		font-size 12px

	&__content
		display flex
		flex-direction column
		padding-left $padding
		padding-bottom $padding
		padding-right $padding

		&-title
			margin-top 50px
			margin-bottom $padding-small

		& .ui-input
			width 320px

			& input
				background-color #1F1F1F
				border-color #292929

		& .ui-button
			width fit-content
			margin-top 30px
