<template>
	<div class="layout">
		<div class="layout__container">
			<div class="layout__header">
				<nuxt-link class="layout__header-logo" to="/">
					<img src="~/assets/img/skillabs-logo.png" />
				</nuxt-link>
				<div class="layout__header-links">
					<a
						class="layout__header-social"
						v-for="{ link, icon } in social"
						:key="link"
						:href="link"
						target="_blank"
					>
						<component :is="icon" />
					</a>
				</div>
			</div>
			<div class="layout__content">
				<Nuxt />
			</div>
			<div class="layout__footer">
				<nuxt-link to="/privacy">Privacy policy</nuxt-link>
				<p>SkillLabs © 2022</p>
			</div>
		</div>
	</div>
</template>

<script lang="ts">
import Vue from "vue"
import { mapGetters } from "vuex"

// Icons
import iconTwitter from "../assets/img/icons/social/icon-twitter.svg"
import iconDiscord from "../assets/img/icons/social/icon-discord.svg"
import iconMedium from "../assets/img/icons/social/icon-medium.svg"
import iconTelegram from "../assets/img/icons/social/icon-telegram.svg"

export default Vue.extend({
	name: "layout-index",
	data() {
		return {
			isDropProfile: false as boolean,
			social: [
				{
					link: "https://twitter.com/Skill_Labs_gg",
					icon: iconTwitter
				},
				{
					link: "https://discord.com/invite/skilllabs",
					icon: iconDiscord
				},
				{
					link: "https://skilllabs.medium.com/",
					icon: iconMedium
				},
				{
					link: "https://t.me/skilllabs",
					icon: iconTelegram
				}
			]
		}
	},
	computed: {
		...mapGetters({
			isAuth: "auth/getIsAuth"
		})
	}
})
</script>
