<template>
	<div class="index">
		<img src="~/assets/img/background-image.jpg" class="index__background" />
		<h1 class="index__title">
			You found something...
			<br />
			<span class="index__title-highlight">
				strange signal received, decoding, keep coming back
			</span>
		</h1>
		<div class="index__links">
			<a
				class="index__link"
				v-for="{ text, link } in links"
				:key="text"
				:href="link"
				target="_blank"
			>
				<ui-icon type="link" />
				{{ text }}
			</a>
		</div>
		<div class="index__games">
			<img class="index__game" v-for="game in games" :key="game" :src="game" />
		</div>
		<quest />
	</div>
</template>

<script lang="ts">
import Vue from "vue"

// Components
import quest from "~/components/quest/quest.vue"

export default Vue.extend({
	name: "page-index",
	components: { quest },
	head() {
		return {
			title: "Fortnite"
		}
	},
	layout: "index",
	data() {
		return {
			links: [
				{
					text: "Rules",
					link: "https://link.medium.com/4LHSUDOqxqb"
				},
				{
					text: "Gleam",
					link: "https://go.skilllabs.io/3GQZM8A"
				}
			]
		}
	},
	computed: {
		games(): string[] {
			const games: string[] = []

			for (let index: number = 1; index <= 11; index++) {
				games.push(require(`~/assets/img/games/game-${index}.png`))
			}

			return games
		}
	},
	methods: {}
})
</script>
