<template>
	<div class="privacy">
		<h1 class="privacy__title">Privacy policy</h1>
		<div class="privacy__content">
			<div style="line-height: 18px" data-customstyle="yes">
				<p style="text-align: left">
					<strong style="font-size: 20px">The information we collect</strong>
				</p>
				<br />
				<p style="text-align: left">
					<strong style="font-size: 14px">A. Information you provide</strong>
				</p>
				<p style="text-align: left">
					<span style="font-size: 14px">
						We collect personal information that you voluntarily provide to us
						when you&nbsp;register on the&nbsp;https://skilllabs.io/ an interest
						in obtaining information about us or our products and Services, when
						you participate in activities on the Services, or otherwise when you
						contact us. The personal information that we collect depends on the
						context of your interactions with us and the Services, the choices
						you make, and the products and features you use.
					</span>
				</p>
				<p style="text-align: left">
					<span style="font-size: 14px">
						The personal information we collect may include the following:
					</span>
				</p>
				<ul>
					<li style="text-align: left">
						<span style="font-size: 14px">email addresses</span>
					</li>
					<li style="text-align: left">
						<span style="font-size: 14px">display name</span>
					</li>
					<li style="text-align: left">
						<span style="font-size: 14px">contact preferences</span>
					</li>
					<li style="text-align: left">
						<span style="font-size: 14px">crypto wallet address</span>
					</li>
					<li style="text-align: left">
						<span style="font-size: 14px">Fortnite account stats&nbsp;</span>
					</li>
				</ul>
				<p style="text-align: left">
					<strong style="font-size: 14px">Sensitive Information.&nbsp;</strong>
					<span style="font-size: 14px">
						We do not process sensitive information.
					</span>
				</p>
				<p style="text-align: left">
					<span style="font-size: 14px">
						All personal information that you provide to us must be true,
						complete, and accurate, and you must notify us of any changes to
						such personal information.
					</span>
				</p>
				<br />
				<p style="text-align: left">
					<strong style="font-size: 14px">
						B. Information we collect automatically
					</strong>
				</p>
				<p style="text-align: left">
					<span style="font-size: 14px">
						We automatically collect certain information when you visit, use, or
						navigate the Services. This information does not reveal your
						specific identity (like your name or contact information) but may
						include device and usage information, such as your IP address,
						browser and device characteristics, operating system, language
						preferences, referring URLs, device name, country, location,
						information about how and when you use our Services, and other
						technical information. This information is primarily needed to
						maintain the security and operation of our Services, and for our
						internal analytics and reporting purposes.
					</span>
				</p>
				<p style="text-align: left">
					<span style="font-size: 14px">
						Like many businesses, we also collect information through cookies
						and similar technologies.
					</span>
				</p>
				<br />
				<p style="text-align: left">
					<span style="font-size: 14px">
						The information we collect includes:
					</span>
				</p>
				<ul>
					<li style="text-align: left">
						<em style="font-size: 14px">Log and Usage Data.</em>
						<span style="font-size: 14px">
							&nbsp;Log and usage data is service-related, diagnostic, usage,
							and performance information our servers automatically collect when
							you access or use our Services and which we record in log files.
							Depending on how you interact with us, this log data may include
							your IP address, device information, browser type, and settings
							and information about your activity in the Services(such as the
							date/time stamps associated with your usage, pages and files
							viewed, searches, and other actions you take such as which
							features you use), device event information (such as system
							activity, error reports (sometimes called "crash dumps"), and
							hardware settings).
						</span>
					</li>
					<li style="text-align: left">
						<em style="font-size: 14px">Device Data.</em>
						<span style="font-size: 14px">
							&nbsp;We collect device data such as information about your
							computer, phone, tablet, or other device you use to access the
							Services. Depending on the device used, this device data may
							include information such as your IP address (or proxy server),
							device and application identification numbers, location, browser
							type, hardware model, Internet service provider and/or mobile
							carrier, operating system, and system configuration information.
						</span>
					</li>
					<li style="text-align: left">
						<em style="font-size: 14px">Location Data.</em>
						<span style="font-size: 14px">
							&nbsp;We collect location data such as information about your
							device's location, which can be either precise or imprecise. How
							much information we collect depends on the type and settings of
							the device you use to access the Services. For example, we may use
							GPS and other technologies to collect geolocation data that tells
							us your current location (based on your IP address). You can opt
							out of allowing us to collect this information either by refusing
							access to the information or by disabling your Location setting on
							your device. However, if you choose to opt out, you may not be
							able to use certain aspects of the Services.
						</span>
					</li>
				</ul>
				<br />
				<p style="text-align: left">
					<strong style="font-size: 18px">How we use your information</strong>
				</p>
				<br />
				<p style="text-align: left">
					<span style="font-size: 14px">
						We process your personal information for a variety of reasons,
						depending on how you interact with our Services, including:
					</span>
				</p>
				<ul>
					<li style="text-align: left">
						<strong style="font-size: 14px">
							To facilitate account creation and authentication and otherwise
							manage user accounts.&nbsp;
						</strong>
						<span style="font-size: 14px">
							We may process your information so you can create and log in to
							your account, as well as keep your account in working order.
						</span>
					</li>
					<li style="text-align: left">
						<strong style="font-size: 14px">
							To deliver and facilitate delivery of services to the user.&nbsp;
						</strong>
						<span style="font-size: 14px">
							We may process your information to provide you with the requested
							service.
						</span>
					</li>
					<li style="text-align: left">
						<strong style="font-size: 14px">
							To respond to user inquiries/offer support to users.&nbsp;
						</strong>
						<span style="font-size: 14px">
							We may process your information to respond to your inquiries and
							solve any potential issues you might have with the requested
							service.
						</span>
					</li>
					<li style="text-align: left">
						<strong style="font-size: 14px">
							To enable user-to-user communications.&nbsp;
						</strong>
						<span style="font-size: 14px">
							We may process your information if you choose to use any of our
							offerings that allow for communication with another user.
						</span>
					</li>
					<li style="text-align: left">
						<strong style="font-size: 14px">To request feedback.&nbsp;</strong>
						<span style="font-size: 14px">
							We may process your information when necessary to request feedback
							and to contact you about your use of our Services.
						</span>
					</li>
					<li style="text-align: left">
						<strong style="font-size: 14px">
							To send you marketing and promotional communications.&nbsp;
						</strong>
						<span style="font-size: 14px">
							We may process the personal information you send to us for our
							marketing purposes, if this is in accordance with your marketing
							preferences. You can opt out of our marketing emails at any time.
						</span>
					</li>
					<li style="text-align: left">
						<strong style="font-size: 14px">
							To deliver targeted advertising to you.
						</strong>
						<span style="font-size: 14px">
							&nbsp;We may process your information to develop and display
							personalized content and advertising tailored to your interests,
							location, and more.
						</span>
					</li>
					<li style="text-align: left">
						<strong style="font-size: 14px">To protect our Services.</strong>
						<span style="font-size: 14px">
							&nbsp;We may process your information as part of our efforts to
							keep our Services safe and secure, including fraud monitoring and
							prevention.
						</span>
					</li>
					<li style="text-align: left">
						<strong style="font-size: 14px">To identify usage trends.</strong>
						<span style="font-size: 14px">
							&nbsp;We may process information about how you use our Services to
							better understand how they are being used so we can improve them.
						</span>
					</li>
					<li style="text-align: left">
						<strong style="font-size: 14px">
							To determine the effectiveness of our marketing and promotional
							campaigns.
						</strong>
						<span style="font-size: 14px">
							&nbsp;We may process your information to better understand how to
							provide marketing and promotional campaigns that are most relevant
							to you.
						</span>
					</li>
					<li style="text-align: left">
						<strong style="font-size: 14px">
							To save or protect an individual's vital interest.
						</strong>
						<span style="font-size: 14px">
							&nbsp;We may process your information when necessary to save or
							protect an individual’s vital interest, such as to prevent harm.
						</span>
					</li>
				</ul>
				<br />
				<p style="text-align: left">
					<strong style="font-size: 18px">How we share your information</strong>
				</p>
				<br />
				<p style="text-align: left">
					<span style="font-size: 14px">
						We may need to share your personal information in the following
						situations:
					</span>
				</p>
				<ul>
					<li style="text-align: left">
						<strong style="font-size: 14px">Business Transfers.</strong>
						<span style="font-size: 14px">
							&nbsp;We may share or transfer your information in connection
							with, or during negotiations of, any merger, sale of company
							assets, financing, or acquisition of all or a portion of our
							business to another company.
						</span>
					</li>
					<li style="text-align: left">
						<strong style="font-size: 14px">Business Partners.</strong>
						<span style="font-size: 14px">
							&nbsp;We may share your information with our business partners to
							offer you certain products, services, or promotions.
						</span>
					</li>
				</ul>
				<br />
				<p style="text-align: left">
					<strong style="font-size: 18px">
						How long we keep your information
					</strong>
				</p>
				<br />
				<p style="text-align: left">
					<span style="font-size: 14px">
						We will only keep your personal information for as long as it is
						necessary for the purposes set out in this privacy notice, unless a
						longer retention period is required or permitted by law (such as
						tax, accounting, or other legal requirements). No purpose in this
						notice will require us keeping your personal information for longer
						than&nbsp;the period of time in which users have an account with us.
					</span>
				</p>
				<br />
				<p style="text-align: left">
					<span style="font-size: 14px">
						When we have no ongoing legitimate business need to process your
						personal information, we will either delete or anonymize such
						information, or, if this is not possible (for example, because your
						personal information has been stored in backup archives), then we
						will securely store your personal information and isolate it from
						any further processing until deletion is possible.
					</span>
				</p>
				<br />
				<p style="text-align: left">
					<strong style="font-size: 18px">Your privacy rights</strong>
				</p>
				<br />
				<p style="text-align: left">
					<span style="font-size: 14px">
						In some regions (like the EEA, UK, and Canada), you have certain
						rights under applicable data protection laws. These may include the
						right (i) to request access and obtain a copy of your personal
						information, (ii) to request rectification or erasure; (iii) to
						restrict the processing of your personal information; and (iv) if
						applicable, to data portability. In certain circumstances, you may
						also have the right to object to the processing of your personal
						information. You can make such a request by contacting us by using
						the contact details provided in the section “Contact information”
						below.
					</span>
				</p>
				<br />
				<p style="text-align: left">
					<span style="font-size: 14px">
						We will consider and act upon any request in accordance with
						applicable data protection laws.
					</span>
				</p>
				<br />
				<p style="text-align: left">
					<span style="font-size: 14px">
						If you are located in the EEA or UK and you believe we are
						unlawfully processing your personal information, you also have the
						right to complain to your local data protection supervisory
						authority. You can find their contact details here:&nbsp;
					</span>
					<a
						href="https://ec.europa.eu/justice/data-protection/bodies/authorities/index_en.htm"
						rel="noopener noreferrer"
						target="_blank"
						style="font-size: 14px"
					>
						https://ec.europa.eu/justice/data-protection/bodies/authorities/index_en.htm
					</a>
					<span style="font-size: 14px">.</span>
				</p>
				<br />
				<p style="text-align: left">
					<span style="font-size: 14px">
						If you are located in Switzerland, the contact details for the data
						protection authorities are available here:&nbsp;
					</span>
					<a
						href="https://www.edoeb.admin.ch/edoeb/en/home.html"
						rel="noopener noreferrer"
						target="_blank"
						style="font-size: 14px"
					>
						https://www.edoeb.admin.ch/edoeb/en/home.html
					</a>
					<span style="font-size: 14px">.</span>
				</p>
				<br />
				<p style="text-align: left">
					<strong style="font-size: 14px">Withdrawing your consent:</strong>
					<span style="font-size: 14px">
						&nbsp;If we are relying on your consent to process your personal
						information, which may be express and/or implied consent depending
						on the applicable law, you have the right to withdraw your consent
						at any time. You can withdraw your consent at any time by contacting
						us by using the contact details provided in the section "Contact
						information" below or updating your preferences.
					</span>
				</p>
				<br />
				<p style="text-align: left">
					<span style="font-size: 14px">
						However, please note that this will not affect the lawfulness of the
						processing before its withdrawal, or when applicable law allows,
						will it affect the processing of your personal information conducted
						in reliance on lawful processing grounds other than consent.
					</span>
				</p>
				<br />
				<p style="text-align: left">
					<strong style="font-size: 14px">
						Opting out of marketing and promotional communications:&nbsp;
					</strong>
					<span style="font-size: 14px">
						You can unsubscribe from our marketing and promotional
						communications at any time by clicking on the unsubscribe link in
						the emails that we send, or by contacting us using the details
						provided in the section "Contact information" below. You will then
						be removed from the marketing lists. However, we may still
						communicate with you — for example, to send you service-related
						messages that are necessary for the administration and use of your
						account, to respond to service requests, or for other non-marketing
						purposes.
					</span>
				</p>
				<br />
				<p style="text-align: left">
					<strong style="font-size: 18px">
						Additional information for certain jurisdictions
					</strong>
				</p>
				<br />
				<p style="text-align: left">
					<span style="font-size: 14px">
						California Civil Code Section 1798.83, also known as the "Shine The
						Light" law, permits our users who are California residents to
						request and obtain from us, once a year and free of charge,
						information about categories of personal information (if any) we
						disclosed to third parties for direct marketing purposes and the
						names and addresses of all third parties with which we shared
						personal information in the immediately preceding calendar year. If
						you are a California resident and would like to make such a request,
						please submit your request in writing to us using the contact
						information provided below.
					</span>
				</p>
				<br />
				<p style="text-align: left">
					<span style="font-size: 14px">
						If you are under 18 years of age, reside in California, and have a
						registered account with Services, you have the right to request
						removal of unwanted data that you publicly post on the Services. To
						request removal of such data, please contact us using the contact
						information provided below and include the email address associated
						with your account and a statement that you reside in California. We
						will make sure the data is not publicly displayed on the Services,
						but please be aware that the data may not be completely or
						comprehensively removed from all our systems (e.g., backups, etc.).
					</span>
				</p>
				<br />
				<p style="text-align: left">
					<strong style="font-size: 14px">CCPA Privacy Notice</strong>
				</p>
				<p style="text-align: left">
					<span style="font-size: 14px">
						The California Code of Regulations defines a "resident" as:
					</span>
				</p>
				<p style="text-align: left">
					<span style="font-size: 14px">
						(1) every individual who is in the State of California for other
						than a temporary or transitory purpose and
					</span>
				</p>
				<p style="text-align: left">
					<span style="font-size: 14px">
						(2) every individual who is domiciled in the State of California who
						is outside the State of California for a temporary or transitory
						purpose
					</span>
				</p>
				<p style="text-align: left">
					<span style="font-size: 14px">
						All other individuals are defined as "non-residents."
					</span>
				</p>
				<p style="text-align: left">
					<span style="font-size: 14px">
						If this definition of "resident" applies to you, we must adhere to
						certain rights and obligations regarding your personal information.
					</span>
				</p>
				<br />
				<p style="text-align: left">
					<strong style="font-size: 18px">Children’s privacy</strong>
				</p>
				<br />
				<p style="text-align: left">
					<span style="font-size: 14px">
						We do not knowingly solicit data from or market to children under 18
						years of age. By using the Services, you represent that you are at
						least 18 or that you are the parent or guardian of such a minor and
						consent to such minor dependent’s use of the Services. If we learn
						that personal information from users less than 18 years of age has
						been collected, we will deactivate the account and take reasonable
						measures to promptly delete such data from our records. If you
						become aware of any data we may have collected from children under
						age 18, please contact us at&nbsp;privacy_skilllabs@skillguilds.com.
					</span>
				</p>
				<br />
				<p style="text-align: left">
					<strong style="font-size: 18px">Your controls and choices</strong>
				</p>
				<br />
				<p style="text-align: left">
					<span style="font-size: 14px">
						Based on the applicable laws of your country, you may have the right
						to request access to the personal information we collect from you,
						change that information, or delete it in some circumstances. To
						request to review, update, or delete your personal information,
						please contact us at&nbsp;privacy_skilllabs@skillguilds.com.
					</span>
				</p>
				<br />
				<p style="text-align: left">
					<strong style="font-size: 18px">Security&nbsp;</strong>
				</p>
				<br />
				<p style="text-align: left">
					<span style="font-size: 14px">
						We have implemented appropriate and reasonable technical and
						organizational security measures designed to protect the security of
						any personal information we process. However, despite our safeguards
						and efforts to secure your information, no electronic transmission
						over the Internet or information storage technology can be
						guaranteed to be 100% secure, so we cannot promise or guarantee that
						hackers, cybercriminals, or other unauthorized third parties will
						not be able to defeat our security and improperly collect, access,
						steal, or modify your information. Although we will do our best to
						protect your personal information, transmission of personal
						information to and from our Services is at your own risk. You should
						only access the Services within a secure environment.
					</span>
				</p>
				<br />
				<p style="text-align: left">
					<strong style="font-size: 18px">Updates</strong>
				</p>
				<br />
				<p style="text-align: left">
					<span style="font-size: 14px">
						We may update this privacy notice from time to time. The updated
						version will be indicated by an updated "Revised" date and the
						updated version will be effective as soon as it is accessible. If we
						make material changes to this privacy notice, we may notify you
						either by prominently posting a notice of such changes or by
						directly sending you a notification. We encourage you to review this
						privacy notice frequently to be informed of how we are protecting
						your information.
					</span>
				</p>
				<br />
				<p style="text-align: left">
					<strong style="font-size: 18px">Contact information</strong>
				</p>
				<br />
				<p style="text-align: left">
					<span style="font-size: 14px">
						If you wish to contact us or have any questions about or complaints
						in relation to this Privacy Policy, please contact us using the
						following information:
					</span>
				</p>
				<p style="text-align: left">
					<span style="font-size: 14px">Skill Builder LTD.</span>
				</p>
				<p style="text-align: left">
					<span style="font-size: 14px">
						House of Francis, Room 303, Ile Du Port, Mahe, Seychelles
					</span>
				</p>
				<p style="text-align: left">
					<span style="font-size: 14px">privacy_skilllabs@skillguilds.com</span>
				</p>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	name: "epic-games-faq",
	layout: "index",
	transition: "fade-in"
}
</script>
