<template>
	<div class="quest">
		<div class="quest__header">
			<p class="quest__title">Questions</p>
			<p class="quest__progress">
				{{ progress }}
			</p>
		</div>
		<div class="quest__content">
			<p class="quest__content-title">
				What is the name of the main character in the game?
			</p>
			<ui-input />
			<ui-button isHighlight size="large">Next</ui-button>
		</div>
	</div>
</template>

<script lang="ts">
import Vue from "vue"

export default Vue.extend({
	name: "component-quest",
	data() {
		return {
			questionIndex: 1 as number
		}
	},
	computed: {
		progress(): string {
			return `${this.questionIndex}/11`
		}
	}
})
</script>
